<div align="center">
	<%= will_paginate @snaps, renderer: BootstrapPagination::Rails%>
</div>

<%= render 'snap', obj: @snaps %>

<div align="center">
	<%= will_paginate @snaps, renderer: BootstrapPagination::Rails%>
</div>