<div align="center">
  <%= will_paginate @snap, renderer: BootstrapPagination::Rails %>
</div>

<%= render 'snap', obj: @snaps %>
<div align="center">
 <%= will_paginate @snap, renderer: BootstrapPagination::Rails %>
</div>
