<div class="row">
	<div class="col-md-1 col-md-offset-1"></div>
	<div class="col-md-3">
		<div>
		<%= link_to "", bilderdaten_path, class: "thumbnail three" %>
		</div>

		<div class="panel panel-default panel-heading">
			<p>von Emmiieezz (Eigenes Werk) [<a href="http://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3AEmmaLee_.jpg">via Wikimedia Commons</a>/a></p>
		</div>

	</div>

	<div class="col-md-3">
		<div>
		<%= link_to "", bilderdaten_path, class: "thumbnail four" %>
		</div>

		<div class="panel panel-default panel-heading">
			<p>von Brayan D.D. (Eigenes Werk) [<a href="http://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3ASnapchat-large.jpg">via Wikimedia Commons</a></p>
		</div>

	</div>
</div>