 <div class="omg">
	<div class="jumbotron snapyellow" align="center">
		<h1> Lerne Snapchat in nur einer Woche </h1>
		<h2> Täglich ein neuer Schritt, um das perfekte Snapchat-Profil zu erstellen </h2>
		<%= link_to "Anmelden", "#", class: "btn btn-lg btn-danger red"%>
	</div>

	<div class="row">
		<div class="col-md-2">
			<div class="jumbotron one">

					</br></br></br></br></br></br></br>

			</div>
		</div>

		<div class="col-md-2">
			<div class="jumbotron two">

					</br></br></br></br></br></br>

			</div>
			<div class="jumbotron three">
			
					</br></br></br></br></br>

			</div>
			
		</div>
	

		<div class="col-md-3">
			<div class="jumbotron four">

					</br></br></br></br></br></br></br></br></br></br></br></br></br>

			</div>

		</div>

		<div class="col-md-3">
			<div class="jumbotron five">

					</br></br></br></br></br></br></br></br></br></br></br></br></br></br>

			</div>
		</div>

		<div class="col-md-2">
			<div class="jumbotron six">

					</br></br></br></br></br></br></br>
				</div>

		</div>
	</div>
</div>