	<div class="jumbotron snapyellow" align="center">
		<h1> Lerne Snapchat in nur 5 Tagen </h1>
		<h2> Täglich ein neuer Schritt, um das perfekte Snapchat-Profil zu erstellen </h2>
		<%= link_to "Anmelden", "#", class: "btn btn-lg btn-danger red"%>
	</div>

	<div class="row">
		
		<div class="col-md-2">
			<div class="jumbotron one">
				</br></br></br></br></br></br></br>
			</div>
		</div>

		<div class="col-md-2">
			<div class="jumbotron two">
					</br></br></br></br></br></br>
			</div>
			<div class="jumbotron three">
			
					</br></br></br></br></br>

			</div>
		</div>
	

		<div class="col-md-3">
			<div class="jumbotron four">
					</br></br></br></br></br></br></br></br></br></br></br></br></br>
			</div>
		</div>

		<div class="col-md-3">
			<div class="jumbotron five">
					</br></br></br></br></br></br></br></br></br></br></br></br></br></br>
			</div>
		</div>

		<div class="col-md-2">
			<div class="jumbotron six">
					</br></br></br></br></br></br></br>
				</div>
		</div>
	</div>

<div class="row">
	<div class="col-md-6">
		<div class="jumbotron">
			<table class="table">
				<thead>
					<tr>
						<th><h2 align="center">Privat</h2></th>
					</tr>
				</thead>
				<tbody>
					<td> Test </td>
				</tbody>
				<tbody>
					<td> Test </td>
				</tbody>
			</table>
		</div>
	</div>



	<div class="col-md-6">
		<div class="jumbotron">
			<table class="table">
				<thead>
					<tr>
						<th><h2 align="center">Business</h2></th>
					</tr>
				</thead>
				<tbody>
					<td> Test </td>
				</tbody>
				<tbody>
					<td> Test </td>
				</tbody>
			</table>
		</div>
	</div>
</div>















