.navbar-brand {
	margin-bottom: 10px;
	margin-top: -2px;
}
@import "bootstrap-sprockets";
@import "bootstrap";

.badge {
	background-color: #FFFC00;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.snapyellow {
	background-color: #FFFC00;
	border-radius: 15px;
	padding-top: 100px;
	padding-bottom: 100px;
	border-radius: 15px;
	color: black;
}

.red {
	background-color: #FF000D;

}

.red:hover {
	background-color: #e5000b;
}

a.btn.btn-lg.btn-danger.red{
	color:white;
}


.one {
	background-image: asset-url('Profilepage.png');
	background-size: cover;
	background-repeat: no repeat;
	background-position: center;
	border: 1px solid black;
	padding-bottom: 220px;
	border-radius: 15px;
} 

.two {
	background-image: asset-url('story.png');
	background-size: cover;
	background-repeat: no repeat;
	background-position: center;
	border: 1px solid black;
	padding-bottom: 180px;
	border-radius: 15px;
} 

.three {
	background-image: asset-url('EmmaLee_.png');
	background-size: cover;
	background-repeat: no repeat;
	background-position: center;
	border: 1px solid black;
	padding-bottom: 260px;
	margin-bottom: 30px;
	border-radius: 15px;
} 

.four {
	background-image: asset-url('Snapchat-large.png');
	background-size: cover;
	background-repeat: no repeat;
	background-position: center;
	border: 1px solid black;
	padding-bottom: 620px;
	border-radius: 15px;
} 

.five {
	background-image: asset-url('Stories.png');
	background-size: cover;
	background-repeat: no repeat;
	background-position: center;
	border: 1px solid black;
	padding-bottom: 220px;
	border-radius: 15px;
} 

.six {
	background-image: asset-url('discover.png');
	background-size: cover;
	background-repeat: no repeat;
	background-position: center;
	border: 1px solid black;
	padding-bottom: 220px;
	border-radius: 15px;
} 

.logo {
	background-image: asset-url('logo.png');
	background-repeat: no-repeat;
	padding-right: 120px;
	padding-left: 10px;
	margin-top: 11px;

}

a {
	color: black;
}

a:hover {
	color: black;
}

.hallo {
	img {
		margin-bottom: 100px;
	}
	
}

.divider {
	border-top: 3px solid #7f8c8d;


}


.panel-heading-business {
	background: rgba(41, 128, 185,0.9);
	color:white;
}

.panel-heading-privat {
	background: rgba(46, 204, 113,0.9);
	color:white;
}

.big-text {
	font-size: 20px;
	text-align: right;
	font-weight: light;
}

tr {
	border-top: 1px solid white;
}

.distance {
	margin-bottom: 100px;

}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 2px solid #7f8c8d;
	color: #777;
}

footer a:hover {
	color: #222;
}

footer small {
	float: right;
}

footer ul {
	float: left;
	list-style: none;
}

footer ul li {
	float: left;
}

.padding-bottom {
	padding-top: 32px;
	padding-bottom: 9px;
}













