<%= form_for(category) do |f| %>

<div class="panel panel-default">
  <div class="panel-body">
  
  <div class="form-group">
      <%= f.label :name %> 
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>

<<<<<<< HEAD
    
=======
>>>>>>> b09d39f6c81ace6661790f9d5180406a3d24503a


  <div class="actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
</div>
</div>
<% end %>
